<%- include("partials/header") -%>

    <h1>Compose</h1>
    <form action="/compose" method="post">
        <div class="form-group">
            <label for="postTitle">Title</label>
            <input class="form-control enterText" type="text" name="postTitle">
            <label for="postBody">Post</label>
            <textarea class="form-control enterText" name="postBody" cols="30" rows="10"></textarea>
            <button class="btn btn-primary" type="submit">Publish</button>
        </div>
    </form>

    <%- include("partials/footer") -%>